.sample-clips h2{
  position: relative;
  text-align: center;
}

.sample-clips h2::before{
  position: absolute;
  left: 0;
  top: calc(50% - 4px);
  content: '';
  width: 40%;
  border-bottom: 8px solid var(--clips-black);
}

.sample-clips h2::after{
  position: absolute;
  right: 0;
  top: calc(50% - 4px);
  content: '';
  width: 40%;
  border-bottom: 8px solid var(--clips-black);
}

.clips{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 1.25rem;
}

app-clip-article{
  width: 30%;
  margin: 1rem 0.5rem;
}
