<app-modal [modalId]="modalId">
  <div heading>
    <h2 class="px-4 font-bold text-xl">Authentication Form</h2>
  </div>
  <div class="py-1 px-3 flex justify-around">
    <button
      class="w-3/5 p-2 rounded-lg font-bold"
      [ngClass]="{
        'text-black': isSelected(LOGIN_FORM_NAME),
        'border': isSelected(LOGIN_FORM_NAME),
        'hover:border': !isSelected(LOGIN_FORM_NAME),
        'bg-white': isSelected(LOGIN_FORM_NAME)
      }"
      (click)="selectForm(LOGIN_FORM_NAME)"
    >Login</button>
    <button
      class="w-3/5 p-2 rounded-lg font-bold"
      [ngClass]="{
        'text-black': isSelected(SIGN_IN_FORM_NAME),
        'border': isSelected(SIGN_IN_FORM_NAME),
        'hover:border': !isSelected(SIGN_IN_FORM_NAME),
        'bg-white': isSelected(SIGN_IN_FORM_NAME)
      }"
      (click)="selectForm(SIGN_IN_FORM_NAME)">Register</button>
  </div>
  <div>
    <app-login-form *ngIf="isSelected(LOGIN_FORM_NAME)"></app-login-form>
    <app-register-form *ngIf="isSelected(SIGN_IN_FORM_NAME)"></app-register-form>
  </div>

</app-modal>
