<div class="m-2 flex flex-col">
  <input class="p-1 text-black" [type]="inputType" [formControl]="control" [placeholder]="placeholder">
  <ng-container class="text-red-400" *ngIf="control.touched && control.dirty">
    <span class="text-red-400" *ngIf="control.getError('required')">This field is required.</span>
    <span class="text-red-400" *ngIf="control.getError('email')">You have to provide a correct email.</span>
    <span class="text-red-400" *ngIf="control.getError('pattern')">Password must be at least 8 characters long, have 1 uppercase letter, 1 lowercase letter, and 1 number.</span>
    <span class="text-red-400" *ngIf="control.getError('min')">You have to be at least 18 to register.</span>
    <span class="text-red-400" *ngIf="control.getError('max')">You have to be 99 or lower to register</span>
    <span class="text-red-400" *ngIf="control.getError('minlength')">Your input is too short.</span>
    <span class="text-red-400" *ngIf="control.getError('maxlength')">Your input is too long.</span>
    <span class="text-red-400" *ngIf="control.getError('noMatch')">The passwords do not match</span>
  </ng-container>
</div>
