@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  --clips-black: #222831;
  --clips-gray: #393E46;
  --clips-orange: #D65A31;
  --clips-white: #EEEEEE;
  box-sizing: border-box;
}


body{
  margin: 0;
  color: var(--clips-black);
  background-color: var(--clips-white);
  font-family: Roboto;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover{
  text-decoration: underline;
}

ul {
  padding: 0;
  list-style-type: none;
  display: flex;
}

fa-icon{
  margin-right: 0.25rem;
}

.orange-span{
  color: var(--clips-orange);
}
